* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #cff;
}

.container {
    width: 80%;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
    
    gap: 5px;
    margin: 10px auto;
}
.container img {
    width: 100%;

    cursor: pointer;
    transition: 1s ease;

    height: 100%;
    /* height: auto; */

    object-fit: cover;
    /* object-fit: contain; */
}
.container img:hover {
    transform: scale(0.9);
}