* {
    margin: 0;
    padding: 0;
  }
body {
    color: #a6a5ad;
    background-color: #2b2a33;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: #fbfbfe;
    margin: 20px;
    text-align: center;
    border-bottom: wheat 2px solid;
}

a:link {
    color: #fbfbfe;
}
a:visited {
    color: #a6a5ad;
}

a {
    color: var(--white);
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 20px;
}
li {
    margin: 10px 20% 10px 20%;
    border: 2px black solid;
    list-style: none;
    background-color: #42414b;
}
li:hover {
    background-color: #84828f;
}