* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  :root {
    --light: #a6a5ad;
    --dark: #2b2a33;
    --dark-ish: #3b3a43;
    --false-white: #fbfbfe;

    --link-backround: #52515b;
    --link-backround-hvr: #84828f;
    --highlight: #55997f;
  }
body {
    color: var(--light);
    background-color: var(--dark);
    font-family: 'Courier New', Courier, monospace;
}

main {
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5rem;
}

.java, .grid-unit, .gal, .practice {
    border: 5px wheat solid;
    background-color: var(--dark-ish);
}

/* shorten grid */
.grid-unit {
    display: grid;
    grid-column: 2 / 4;
    grid-template-columns: subgrid;
    grid-template-areas: 
    'title title' 
    'rest rest';

    gap: 0 1rem;
}
.grid-unit h2 {
    grid-area: title;
}

/* General Pieces */
/* Links */
a {
    color: var(--false-white);
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: var(--link-backround);
    padding: 1rem;
    border: var(--dark) 1px solid;
}
a:hover {
    background-color: var(--link-backround-hvr);
}
li {
    width: 90%;
    list-style: none;
    margin: 5px auto 5px auto;
    border: 2px black solid;
}
/* Other */
h1 {
    color: var(--false-white);
    margin: 20px;
    text-align: center;
    border-bottom: wheat 2px solid;
}
h2 {
    text-align: center;
    color: var(--false-white);
    line-height: 3;
    border-bottom: 1px dotted wheat;
}
.noteable {
    background-color: var(--highlight);
}