* {
    margin: 0;
    padding: 0;
  }
body {
    color: #a6a5ad;
    background-color: #2b2a33;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    color: #fbfbfe;
    margin: 20px;
    text-align: center;
    border-bottom: wheat 2px solid;
}

.split {
    /* Once grids are done turn the split into a grid base rather then float-margin based system */
    margin: 10px 2% 10px 2%;
    width: 40%;
    border: 5px wheat solid;
    background-color: #3b3a43;
    float: left;
}
a:link {
    color: #fbfbfe;
}
a:visited {
    color: #a6a5ad;
}

a {
    color: var(--white);
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #52515b;
    padding: 1rem;
    border: #2b2a33 1px solid;
}
li {
    width: 90%;
    list-style: none;
    margin: 5px auto 5px auto;
    border: 2px black solid;
}
a:hover {
    background-color: #84828f;
}